.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  background-color: #000000;
  height: 100%;
  border-radius: 0;
}

.modal-footer {
  /*padding: 19px 20px 20px;*/
  padding: 5px 20px 5px;
  /*margin-top: 0px;*/
  margin-top: 0px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}